
:root {
//Individual elements 

//Navigation
--navigation-panel-bgc: pink;
--navigation-link-color: #131727;
--navigation-link-color-hover: #131727;
--navigation-link-text-color: #3d3d3d;
--navigation-link-text-color-active: #131727;

//colors
--color-white: #ffffff;
--color-dark: #131727;
--color-gray: #c0c0c0;
--color-light-gray: #FAFBFC;
--color-body: #F5F6F7;
--color-gray-text: #7E899B;
--color-hover: #e6f9fa;
--color-gray-red: rgb(190, 116, 116);
--color-red: #c64040;
}