@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "mixins";
@import 'colors';
body {
    background-color: var(--color-white);
  color: var(--color-dark);
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
}
* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #F3F5F8 #fff;
}
.title-page {
    @include firstLaterUpercase;
    font-size: 32px;
    color: var(--color-dark);
    font-weight: 600;
}
input, select, textarea {
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #d2d0d0;
  outline: none;
  transition: .2s linear;
  background-color: #F0F3F5;
  padding: 5px 15px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;

  &:hover {
    border-color: #131727;
  }
}
textarea {
  height: 200px;
  resize: none;
}

